.App {
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: black;
  }
  
  .Jump-Menu-Section {
    display: flex;
    margin: 2em auto 0em auto;
    justify-content: space-around;
    width: 60%;
  }
  
  .Jump-Menu-Section button {
    background: linear-gradient(rgb(0, 0, 0), rgb(19, 19, 19));
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    padding: 0.25em;
    transition: all 0.2s ease-in-out;
  }
  
  .Jump-Menu-Section button:hover {
    background: linear-gradient(180deg, rgb(128, 128, 128), rgb(73, 73, 73));
    cursor: pointer;
    transform: scale(125%);
    text-shadow: 2px 2px 2px black;
  }
  
  .Menu {
    background: linear-gradient(145deg, rgb(14, 14, 14), rgb(0, 0, 0));
    padding: 1em;
  }
  
  .Menu-Title {
    font-size: 3.5em;
    letter-spacing: 3px;
    text-shadow: 4px 4px 10px black;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5c5c3833840b161566b02a76/1573133725500-Y5PCN0V04I86HDAT8AT0/WBC_7095.jpg?format=2500w");
    background-position: center;
  }
  
  .Menu-Title h1 {
    display: inline-block;
  }
  
  .Menu-Section {
    background: linear-gradient(rgb(32, 32, 32), rgb(8, 8, 8));
    border: 2px solid rgb(146, 146, 146);
    border-radius: 150px 75px;
    margin: 2em;
    padding-bottom: 2em;
    box-shadow: 3px 3px 5px rgb(138, 138, 138);
  }
  
  .Menu-Section h1 {
    font-size: 5em;
  }
  
  .Menu-Item {
    display: inline-block;
    margin: 0 2em;
    max-width: 16em;
    transition: all 0.2s ease-in-out;
    opacity: 87%;
  }
  
  .Menu-Item:hover {
    transform: scale(125%);
    opacity: 100%;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }
  
  .Menu-Item h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
    color: white;
  }
  
  .Menu-Item p {
    font-size: 1em;
    font-style: oblique;
    color: white;
  }
  
  .Navigation {
    overflow: hidden;
    display: block;
    position: sticky;
    background: linear-gradient(rgb(0, 0, 0), rgb(19, 19, 19));
    top: 0;
    color: white;
    height: 2em;
    padding: 1em;
    z-index: 100;
  }
  
  .Navigation a {
    font-size: 1.75em;
    color: white;
    margin: 0 1em;
    text-decoration: none;
    display: inline-block; /*need inline-block for transform*/
    transition: all 0.2s ease-in-out;
  }
  
  .Navigation a:nth-of-type(1) {
    float: left;
  }
  
  .Navigation a:nth-of-type(2),
  .Navigation a:nth-of-type(3) {
    float: right;
  }
  
  .Navigation a:hover {
    color: rgb(194, 194, 194);
    transform: scale(150%);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }
  
  .Scroll-To-Top {
    padding-bottom: 2em;
  }
  
  .Scroll-To-Top button {
    background: linear-gradient(rgb(0, 0, 0), rgb(19, 19, 19));
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 2em;
    padding: 0.25em;
    transition: all 0.2s ease-in-out;
  }
  
  .Scroll-To-Top button:hover {
    background: linear-gradient(180deg, rgb(128, 128, 128), rgb(73, 73, 73));
    cursor: pointer;
    transform: scale(125%);
  }
  
  @media only screen and (max-width: 600px) {
    .Navigation a {
      font-size: 1.5em;
    }
  }
  
  @media only screen and (max-width: 460px) {
    .Navigation a {
      font-size: 1.25em;
    }
  }
  