@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.App {
  background: linear-gradient(-45deg, rgb(127, 209, 168), rgb(143, 221, 211), rgb(128, 212, 170), rgb(143, 241, 192));
  background-size: 400% 400%;
  color: white;
	animation: gradient 7s ease infinite;
  font-family: 'Overpass', sans-serif;
  padding: 0.5em 0 0 0;
}